{% extends 'base.html.twig' %}

{% block title %}Edition-{{ recipe.title }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ recipe.title }}</h1>
    
    {{ form(form) }}
</div>
{% endblock %}
