{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1 class="text-align">Toutes les recettes</h1>

    <p><i> Plus de {{total}} min de recettes partagées !</i>🤤</p>
    <p>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="{{ url('recipe_show', {'id': recipe.id, 'slug': recipe.slug}) }}">{{ recipe.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
