{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="text-center">CuisiNova 🍳</h1>
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloribus consequuntur illo saepe, sed nulla. Pariatur similique laboriosam, libero autem perspiciatis saepe nihil doloribus praesentium vero porro sint eum fugiat?
        </p>
    </div>
{% endblock %}
